# Copyright Offene Werkstatt Wädenswil
# SPDX-License-Identifier: MIT

BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
LineEnding: LF
InsertNewlineAtEOF: true
