[submodule "third_party/pigweed"]
	path = third_party/pigweed
	url = https://pigweed.googlesource.com/pigweed/pigweed
[submodule "third_party/sdl/SDL"]
	path = third_party/sdl/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/etl/etl"]
	path = third_party/etl/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "third_party/particle/third_party/device-os"]
	path = third_party/particle/third_party/device-os
	url = https://github.com/werkstattwaedi/device-os.git
	branch = cpp20coro
[submodule "third_party/particle/third_party/docs"]
	path = third_party/particle/third_party/docs
	url = https://github.com/particle-iot/docs
[submodule "third_party/lvgl/lvgl"]
	path = third_party/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.4
