[submodule "third_party/particle"]
	path = third_party/particle
	url = https://github.com/werkstattwaedi/particle-bazel.git
[submodule "third_party/pigweed"]
	path = third_party/pigweed
	url = https://pigweed.googlesource.com/pigweed/pigweed
[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/werkstattwaedi/lvgl.git
	branch = bazel-9.4
[submodule "third_party/sdl/SDL"]
	path = third_party/sdl/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/etl/etl"]
	path = third_party/etl/etl
	url = https://github.com/ETLCPP/etl.git
